version: "3.4"

services:
  nginx:
    restart: unless-stopped
    build: ./nginx
    #logging:
      #driver: none
    ports:
      - "80:8080"
    depends_on:
      - web

  api:
    build:
      context: ./api
    restart: unless-stopped
    environment:
      ENVIRONMENT: development
      FLASK_ENV: development
      TABLE_KEY: ${TABLE_KEY}
    ports:
      - "5000:5000"
    volumes:
      - ./api/:/app

  web:
    build:
      context: ./web
      target: development
    restart: unless-stopped
    #logging:
      #driver: none
    stdin_open: true
    volumes:
      - ./web:/code
