table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding:0 8px 0 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}